/*============================= header blog =================*/

.header__blog{
  margin-top: 77px;
}
.header__content {
    background-color: #262c29;
    padding: 66px;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 0px;

    
  
  }
  .section__title-center{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 1400px;

  }
  #blog{
    margin-left: 30px;
  }

/*========================  sibare ============================*/
.sidebar ul li a{
    display:block;
    color:black;
    line-height: 60px;
    padding-left: 49px;

}

.sidebar ul li a:hover{
   color: var(--first-color);
    border-left: 20px solid black;
    transition: .5s;
    background-color: var(--text-color);
    background: var(--text-color);
    counter-reset: black;
}
.sidebar_container{
    float: right;
    width: 25%;
    margin-top: -400px;
    text-align: center;
  
}
.content {
    margin-right: 25%;
}

/* Style de la barre latérale pour les écrans de 320px ou moins */
@media screen and (max-width: 320px) {
  
.sidebar_container{
  display: grid;
  justify-items: center;
  width: 124px;
  margin-top: -1100px;
  margin-right: 220px;
}
.sidebar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar__list li {
  flex-basis: 30%;

}
#nav_screem{
  margin-right: 0px;
  width: 270px;
}
.header__content{
  padding-top: 0px;
}
.sidebar__title{
  padding-left: 35px;
}
.nav__logo{
  display: none;
}
}
  /* Style de la barre latérale pour les écrans de 768px & 1024px */
  @media screen and (min-width: 768px) and (max-width: 1024px)  {
  .sidebar{
    padding-top: 145px;
    margin-top: -430px;

  }
  #nav_screem{
    margin-right: 0px;
    padding-left: 60px;
    width: 250px;
    margin-left: 0px;
  }
  .section__title, .section__title-center {
    padding-top: 65px;
    margin-bottom: 0;
    width: 220px;

    }
    .section__title-center{
      padding-left: 179px;
      width: 619px;
    }
    #blog{
      
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;

    }
    
    .sidebar ul li a {
      padding-left: 20px;
      margin-left: 15px;
      
    }
    .heart{
        padding-right: 0;
    }
    .blog_container{
        padding-top: 140px;
    }
    #blog{
      padding-top: 145px;
    }
   
   
    .nav__logo{
      width: 225px;
     padding-left: 85px;
    }
    
    .sidebar__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 123px;
    }
    .sidebar__list li {
      flex-basis: 30%;
    }
    .sidebar_container{
      width: 70%;
      margin-top: -260px;
    }
    .sidebar__title{
      padding-right: 220px;
    }
  }
  
  
